:root {
  --white: #FFFF;
  --primary: #61ECBC;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('/public/bg_fondo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
  line-height: 1;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}